<!doctype html>
<html style="height: 100%;">
  <head>
    <title>
      IPX Demo
    </title>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        height: inherit;
      }

      .container {
        height: inherit;
        background-color: grey;
      }

      .iframe-container {
        height: inherit;
        width: 500px;
        margin: 0 auto;
        padding: 28px 0;
      }

      iframe {
        height: 100%;
        width: 100%;
        border: none;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="iframe-container">
        <iframe src="ipx-page.html">
      </div>
    </div>
  </body>
</html>